
* {
    font-family: Inter,sans-serif;
}
/* HEADER */
header {
    display: flex;
    justify-content: center;

}

/* FOOTER */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.github {
    margin-left: 5px;
}

/* CONTAINER */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* COLOR PICKER */
.color-picker:hover {
    transform: scale(1.05);
  }
  
.color-picker:active {
    transition: transform 0.05s ease-in-out;
    transform: scale(1);
}
  
.color-picker {
    -webkit-appearance: none;
    width: 50px;
    height: 50px;
    border: none;
    background: white;
    margin: 25px;
}

.color-picker::-webkit-color-swatch-wrapper {
    padding: 0;
}
  
.color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
}

/* SLIDER */
.slider {
    -webkit-appearance: none;
    border-radius: 10px;
    background: black;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    border-radius: 15px;
    width: 25px; 
    height: 25px; 
    background: white; 
    cursor: pointer; 
}

.slider-value {
    margin: 10px;
    font-weight: bold;
}

/* GRID */
.grid {
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(16, 0fr);
    grid-template-rows: repeat(16, 0fr);
    gap: 0px;
    border: 3px solid;
}

/* BUTTONS */
.buttons {
    display: flex;
    padding: 25px;
    justify-content: space-evenly;
}

/* design by Mouseless */
button {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 10px;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}