/* GENERAL GRID */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grid {
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(16, 0fr);
    grid-template-rows: repeat(16, 0fr);
    gap: 0px;
    border: 1px solid;
}

/* BUTTONS */
.buttons {
    display: flex;
    padding: 50px;
    justify-content: space-evenly;
}
